.catalogo {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  
  .catalogo-filters {
    flex: 1;
    padding: 20px;
    
  }

  h2 {
    font-size: 2rem;
  }


  
  .catalogo-filters h2 {
    margin-bottom: 20px;
  }
  
  .catalogo-filters ul {
    list-style-type: none;
    padding: 0;
  }
  
  .catalogo-filters li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .catalogo-products {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .product-card {
    min-width: 200px;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    width: calc(33.333% - 20px);
    text-align: center;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 1.3rem;
    color: #800080; /* Cor do preço */
  }
  
  li {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .product-button {
    opacity: 1;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    color: #fff;
    background: linear-gradient(90deg, #9619ab, #d684d8); /* Gradiente roxo */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
  }

  .custom-select {
    position: relative;
    font-family: Arial, sans-serif;
}

.custom-select select {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.3;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url('data:image/svg+xml;utf8,<svg fill="%23ccc" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-size: 16px 16px;
}

.custom-select select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filtro {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.cart {
    position: fixed;
    width: 50px;
    height: auto;
    right: 50px;
    
}

