.cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 30px;
    width: 100px;
    border: none;
    cursor: pointer;
    transition: position 0.3s;
    z-index: 100;
  }


  

  